@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lexend:wght@400;500;600;700&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -10px;
}

.login {
    width: 100vw;
    height: 100vh;
}
