@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lexend:wght@400;500;600;700&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1000;
}

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
}

.container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 2rem;
    margin: 0;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

label {
    position: relative;
    top: 5px;
    font-size: 0.75rem;
    font-weight: 400;
}

input {
    width: 100%;
    height: 1.75rem;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
}

.login__rememberDiv {
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
